.pageContainer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContent {
    flex: 2;
}

.sidebar {
    flex: 1;
    max-width: 350px;
    position: sticky;
    top: 20px;
    height: fit-content;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: rgba(232, 255, 229, 0.33);
}

.title {
    word-spacing: normal;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #2d3748;
}

.sidebarTitle{
    font-size: 20px;
    margin: 5px;
    font-weight: 600;
    color: #2d3748;
    word-spacing: normal;
}

.photosSection {
    margin-bottom: 30px;
}

.mainPhotoContainer {
    position: relative;
    margin-bottom: 10px;
}

.mainPhoto {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.photoNavButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 600;
    color: #4a5568;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #cbd5e0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photoNavButton:first-child {
    left: 10px;
}

.photoNavButton:last-child {
    right: 10px;
}

.miniaturesContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.miniaturesNavButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #4a5568;
    background: #fff;
    border: 1px solid #cbd5e0;
}

.miniaturesNavButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.miniatures {
    display: flex;
    gap: 5px;
    overflow: hidden;
    flex-grow: 1;
}

.miniature {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
}

.selectedMiniature {
    border-color: #4CAF50;
}

.section {
    margin-bottom: 25px;
}

.sectionTitle {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.featuresList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.featuresList li {
    padding: 5px 0;
}

.priceContainer {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price {
    font-size: 28px;
    font-weight: 700;
    color: #1a365d;
    margin: 0;
}

.pricePeriod {
    font-size: 22px;
    font-weight: 500;
    color: #324a71;
    margin: 10px;
}

.source {
    color: #666;
    margin-bottom: 15px;
}

.sourceButton {

    width: 94%;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    background: linear-gradient(135deg, #69b36b 0%, #3bac40 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.sourceButton:hover {
    background: linear-gradient(135deg, #20d52b 0%, #25c62e 100%);
}

.parametersGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 16px;
}

.parameterColumn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.parameterItem {
    word-spacing: normal;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
}

.parameterName {
    font-weight: 500;
    color: #4a5568;
    font-size: 16px;
    margin-right: 10px;
}

.parameterValue {
    font-weight: 500;
    color: #2d3748;
}
.mapContainer {
    margin-top: 30px;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    overflow: hidden;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
}