header{
    height: 50px;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #abd0d7;
    background: rgba(190,255,188,0.22);
}
.siteName{
    font-size: 30px;
    color: #424242;
    font-style: italic;
    cursor: default;
}

.siteName:hover{
    color: rgb(24, 101, 0);
}

.favoritesButton, .comparisonButton, .mainButton, .signInButton{
    padding: 8px 16px;
    font-size: 16px;

    background-color: #ffffff;
    cursor: pointer;
    /*transition: background-color 0.2s;*/
    border: 1px solid #7c7c7c;
    border-radius: 10px;
    color: #000000;
    transition: .2s linear;
}
.signInButton:hover, .mainButton:hover, .comparisonButton:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 4px #7ca9ff;
    background-color: #7ca9ff;
}

.favoritesButton:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 4px #ffafc7;
    background-color: #ffafc7;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.leftSection{
    display: flex;
    gap: 10px;
}

.rightSection{
    gap: 10px;
    margin: 0 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.buttonContainer{
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

