<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container mt-5"> <!-- Создание контейнера -->
    <h1>Все Пользователи</h1> <!-- цикл -->
    {% if users|length > 0 %}
        {% for el in users %}
        <div>
          <p> {{ el[0] }}</p>
          <p> {{ el[1] }}</p>
          <p> {{ el[6] }}</p>
          <p> {{ el[7] }}</p>
          <p><b>Дата: {{ el[8] }}</b></p>
        </div>
        {% endfor %}
    {% else %}
    <p> Пользователей нет</p>
    {% endif %}
</div>
</body>
</html>